<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>外部系统</title>
  <!-- 引入 Element UI 样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <h1>{{ userName }}</h1>
    <el-form ref="form" :model="formData" :rules="rules" label-width="80px">
      <el-form-item label="姓名" prop="name">
        <el-input v-model="formData.name" disabled></el-input>
      </el-form-item>
      <el-form-item label="年龄" prop="age">
        <el-input v-model.number="formData.age"></el-input>
      </el-form-item>
      <el-form-item label="备注" prop="textarea">
        <el-input
          type="textarea"
          :rows="2"
          placeholder="请输入内容"
          v-model="formData.textarea">
        </el-input>
      </el-form-item>
    </el-form>
  </div>

  <!-- 引入 Vue.js 和 Element UI 库 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          formData: {
            name: '',
            age: null,
            textarea: ''
          },
          rules: {
            name: [
              { required: true, message: '请输入姓名', trigger: 'blur' },
              { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
            ],
            age: [
              { required: true, message: '请输入年龄', trigger: 'blur' }
            ]
          },
          userName: ''
        };
      },
      created() {
        window.addEventListener('message', this.handleMessageFromParent)
        const urlParams = new URLSearchParams(window.location.search);
        this.userName = urlParams.get('userName')
      },
      beforeDestroy() {
        window.removeEventListener('message', this.handleMessageFromParent)
      },
      methods: {
        handleMessageFromParent(event) {
          // if (event.origin !== 'https://your-parent-origin.com') return;
          const data = event.data;
          // 处理传递的值
          console.log('Received value from parent:', data);
          if (data.buttonCode) {
            // 执行流程按钮逻辑
            this.$refs.form.validate(valid => {
              if (valid) {
                // 向父页面发送数据
                const returnedData = {
                  "code": "ok",
                  "message": "表单验证成功",
                  "data": {
                    '87c64fb9ac84e7f99b955f57': this.formData.name,
                    '20f24721b7288f735d4de10c': this.formData.age,
                    '8ed545d7b5159122f72a9702': this.formData.textarea
                  }
                }
                window.parent.postMessage(returnedData, '*');
              } else {
                const returnedData = {
                  "code": "error",
                  "message": "表单验证失败",
                  "data": {}
                }
                window.parent.postMessage(returnedData, '*');
              }
            });
          } else if (data.code) {
            // 流程操作成功/失败提示
          } else {
            // 页面渲染完成，传递业务数据
            this.formData.name = data['87c64fb9ac84e7f99b955f57']
            this.formData.age = data['20f24721b7288f735d4de10c']
            this.formData.textarea = data['8ed545d7b5159122f72a9702']
          }
        }
      }
    });
  </script>
</body>
</html>
